/* https://coolors.co/fbc4ab-ffdab9-27474e-b8dbd9-dd403a */
body
{
    font-family: Verdana, sans-serif;
    display: block;
    margin-left: 150px;
    margin-right: 150px;
    color: #FBC4AB;
    background-color: #DD403A;
}

header
{
    font-family: Courier, serif;
    text-align: center;
    color: #27474E;
}

footer
{
    font-family: Verdana, sans-serif;
    text-align: center;
    color: #FBC4AB;
}

.left-align
{
    text-align: left;
}

.div-1
{
    text-align: center;
}

.centered-h2
{
    text-align: center;
}

.form-1
{
    text-align: center;
    background-color: #27474E;
    margin-left: 240px;
    margin-right: 240px;
}

input[type="text"]
{
    border-color: #998FC7;
    border-width: 2px;
    border-radius: 4px;
}

input[type="email"]
{
    border-color: #748E54;
    border-width: 2px;
    border-radius: 4px;
}

.colored-button1
{
    background-color: #FBC4AB;
    color: #27474E;
    width: 100px;
    height: 50px;
}

figcaption
{
    font-style: italic;
    text-align: center;
}

ul
{
    display: table;
    text-align: left;
    margin: 0 auto;
}

ol
{
    display: table;
    text-align: left;
    margin: 0 auto;
}

table, td, th
{
    border: 1px solid black;
}

.centered-table
{
    margin-left: auto;
    margin-right: auto;
}

table tr:nth-child(even)
{
    background-color: #27474E;
    color: #FFC4AB;
}

.table-top-row
{
    background-color: #280003;
    color: #FFC4AB;
}