/* https://coolors.co/fbc4ab-ffdab9-27474e-b8dbd9-dd403a */
body
{
    font-family: Verdana, sans-serif;
    text-align: start;
    display: block;
    margin-left: 150px;
    margin-right: 150px;
    color: #FBC4AB;
    background-color: #DD403A;
}

header
{
    font-family: Courier, serif;
    text-align: center;
    color: #27474E;
}

footer
{
    font-family: Verdana, sans-serif;
    text-align: center;
    color: #FBC4AB;
}

figure
{
    text-align: center;
    height: 400;
    width: 350;
}

figcaption
{
    font-style: italic;
    text-align: center;
}