body
{
  font-family: Tahoma, sans-serif;
  color: #FFFBFF;
  background-color: #00B9AE;
  /* https://coolors.co/00b9ae-011936-984447-f1dabf-fffbff */
}

header
{
  font-family: Courier, serif;
  text-align: center;
  color: #011936;
}