body
{
    background-color: #337CA0;
    color: #C9C9C9;
}

main
{
    margin-top: 45px;
}

h1
{
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

p
{
    font-family: 'M PLUS 1', sans-serif;
}

.gallery-holder
{
    margin-left: 50px;
    margin-right: 50px;
}

.left-figure
{
    float: left;
}

.right-figure
{
    float: right;
}

figcaption
{
    background-color: #2C6E39;
    display: inline;
}

.nav a
{
    text-decoration: none;
    font-family: Verdana, sans-serif;
    color: #FAFFEA;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.nav a:hover
{
    color: black;
}

.nav
{
    background-color: #2C6E39;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}