body
{
    background-color: #337CA0;
    color: #C9C9C9;
}

main
{
    margin-top: 45px;
    margin-bottom: 75px;
}

footer
{
    background-color: #2C6E39;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

h1
{
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

h2
{
    text-align: center;
    font-family: 'M PLUS 1', sans-serif;
}

h3
{
    text-align: center;
    font-family: 'M PLUS 1', sans-serif;
}

p
{
    font-family: 'M PLUS 1', sans-serif;
    margin-left: 25%;
    margin-right: 25%;
}

#structure-content
{
    display: none;
}

.gallery-holder
{
    margin-left: 15%;
    margin-right: 15%;
}

.left-figure
{
    float: left;
    clear: both;
}

.right-figure
{
    float: right;
}

.center-figure
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-figure
{
    display: block;
    text-align: center;
}

figcaption
{
    background-color: #2C6E39;
}

a
{
    text-decoration: none;
    font-family: Verdana, sans-serif;
    color: #FAFFEA;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

a:hover
{
    color: black;
}

.accordion a
{
    float: none;
}

.faq-link-button
{
    margin-left: 35%;
    margin-right: 35%;
    background-color: #2C6E39;
}

#faq-link
{
    font-family: 'M PLUS 1', sans-serif;
    text-align: center;
    float: none;
}

.nav
{
    background-color: #2C6E39;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}