body
{
    /* background-color: #337CA0; */
    background-image: url("/itis3135/designproject/images/main-background.jpg");
    background-repeat: no-repeat;
    color: #C9C9C9;
}

main
{
    margin-top: 45px;
}

h1
{
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

h2
{
    text-decoration: underline;
    text-align: center;
    font-family: 'M PLUS 1', sans-serif;
}

h3
{
    text-align: center;
    font-family: 'M PLUS 1', sans-serif;
}

p
{
    font-family: 'M PLUS 1', sans-serif;
    margin-left: 25%;
    margin-right: 25%;
}

#structure-content
{
    display: none;
}

.gallery-holder
{
    margin-left: 50px;
    margin-right: 50px;
}

.left-figure
{
    float: left;
    clear: both;
}

.right-figure
{
    float: right;
}

figcaption
{
    background-color: #2C6E39;
    display: inline;
}

a
{
    text-decoration: none;
    font-family: Verdana, sans-serif;
    color: #FAFFEA;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

a:hover
{
    color: black;
}

#faq-link
{
    font-family: 'M PLUS 1', sans-serif;
    text-align: center;
}

.nav
{
    background-color: #2C6E39;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}