.arsenal-sc-regular {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #DCE2C8;
    font-family: "Arsenal SC", sans-serif;
    color: #2E282A;
}

#skills_list {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.skill-item {
    width: 100%;
    display: block;
}

.skill-item img {
    max-width: 500px;
}

#left-button, #right-button {
    box-sizing: inherit;
    font-size: 18px !important;
}

#left-button {
    float: left !important;
}

#right-button {
    float: right !important;
}