<footer>
    <br>
    <nav>
        <a href="https://webpages.charlotte.edu/rjohn249/" target="_blank">Charlotte Home Page</a>
         * 
        <a href="https://github.com/RonnieJohnston/RonnieJohnston.github.io" target="_blank">Github repository</a>
         * 
        <a href="https://ronniejohnston.github.io/itis3135/" target="_blank">Github.io page</a>
         * 
        <a href="https://www.freecodecamp.org/RonnieJohnston" target="_blank">FreeCodeCamp profile</a>
         * 
        <a href="">Linkedin profile</a>
    </nav>
    <br>
    Created by <a href="johnstondesigns.com/">Johnston Designs LLC</a> &copy;2022.
    <p><a href="https://jigsaw.w3.org/css-validator/check/referer"><img alt="CSS-validator" src="images/button_validation_css.png"></a>
    <a href="https://validator.w3.org/check?uri=referer"><img alt="HTML-validator" src="images/button_validation_html5.png"></a></p>
</footer>