<footer>
    <p><a id="validation_link_css" href="https://jigsaw.w3.org/css-validator/check/referer"><img alt="CSS-validator" src="images/button_validation_css.png"></a>
    <a id="validation_link_html" href="https://validator.w3.org/check?uri=referer"><img alt="HTML-validator" src="images/button_validation_html5.png"></a></p>
    <script>
        document.getElementById('validation_link_css').setAttribute('href', 'https://jigsaw.w3.org/css-validator/check?uri=' + location.href);
        document.getElementById('validation_link_html').setAttribute('href', 'https://validator.w3.org/check?uri=' + location.href);
    </script>
</footer>